@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grid-color: #00ff6a;
}

* {
    box-sizing: border-box;
}

body {
    /* Ensure teletext-like base styling globally */
    background-color: #000;
    color: #22c55e;
    /* tailwind emerald-500-ish */
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: "tnum" on, "lnum" on;
}